div {
    font-family: 'Caveat', cursive;
}

.background {
    background-image: url('./images/babyBackground.jpg');
    max-width: 100%;
}

.girly {
    background-image: url('./images/itsAGirlBackground.jpg');
}

.profilePicture {
    max-height: 10rem;
    border-radius: 25rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.centering {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}